@import "tailwindcss";

:root {
  --background: #f9fafb;
  /* Gray 50 */
  --foreground: #111827;
  /* Gray 900 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}